include .editorconfig
include COPYING
include *.rst
include doc/conf.py
include doc/wordlist.txt
include extra/_versionah
include extra/README.pip
include extra/doap.rdf
include extra/requirements*.txt
include tests/data/shtool/test.*
include tests/data/test_[a-z]
include tests/*.py
include versionah.py
include versionah/templates/*.jinja

recursive-include .github *.rst
recursive-include doc *.rst
