include COPYING *.rst
include doc/*.rst
include doc/Makefile
include doc/wordlist.txt
include doc/conf.py
include tests/data/shtool/test.*
include tests/data/test_[a-z]
include tests/features/*.feature
include tests/features/steps.py
include tests/*.py
include versionah/templates/*.jinja
