/* {{ magic }} */

#ifndef _{{ filename|upper|regexp("[^A-Z]", "_") }}_INCLUDE_
#define _{{ filename|upper }}_INCLUDE_

#define VERSION "{{ dotted }}"
#define VERSION_HEX {{ hex }}
#define VERSION_LIBTOOL "{{ libtool }}"

#endif

