/* This is {{ name }} version {{ triple }} */

#ifndef _{{ file|upper }}_INCLUDE_
#define _{{ file|upper }}_INCLUDE_

#define VERSION "{{ triple }}"
#define VERSION_HEX {{ hex }}
#define VERSION_LIBTOOL "{{ libtool }}"

#endif

