/* {{ magic }} */

{% set escaped_name = filename|upper|regexp("[^A-Z]", "_") %}
#ifndef _{{ escaped_name }}_INCLUDE_
#define _{{ escaped_name }}_INCLUDE_

#define VERSION "{{ dotted }}"
#define VERSION_HEX {{ hex }}
#define VERSION_LIBTOOL "{{ libtool }}"
#define VERSION_DATE "{{ date }}"
#define VERSION_WEB "{{ web }}"

#endif /* {{ escaped_name }} */

