-- {{ magic }}

module("{{ name }}.version", package.seeall)

dotted = "{{ dotted }}"
libtool = "{{ libtool }}"
hex = {{ hex }}
date = "{{ date }}"
table = {{ "{" }}major={{ major }}, minor={{ minor }}, micro={{ micro }}
{%- if patch %}, patch={{ patch}}{% endif -%}{{ "}" }}
web = "{{ web }}"

