-- {{ magic }}
{
    dotted: "{{ dotted }}",
    hex: {{ hex }},
    libtool: "{{ libtool }}",
    date: "{{ date }}",
    web: "{{ web }}",
    table: {{ "{" }}major: {{ major }}, minor: {{ minor }}, micro: {{ micro }}
    {%- if patch %}, patch: {{ patch}}{% endif -%}{{ "}" }},
}
