# {{ magic }}
# pylint: disable=C0103, C0111, C0121, W0622

dotted = '{{ dotted }}'
libtool = '{{ libtool }}'
hex = {{ hex }}
date = '{{ date }}'
tuple = {{ tuple }}
dict = {{ dict }}
web = '{{ web }}'

